/* ------ Change the Swiper CSS ---------- */
.swiper-button-next,
.swiper-button-prev,
.swiper-container-rtl .swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    fill: #fff;
}

.swiper-pagination-bullet {
    opacity: 0.5;
    /* background-color: #ffffff; */
    width: 10px;
    height: 10px;
    background-color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-pagination-bullet-active {
    opacity: 1;
}

.tip {
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

.tip[title]:hover::after {
    content: attr(title);
    position: absolute;
    top: 0;
    left: 0;
}